<!DOCTYPE html>
<html>
  <head>
    <title>SetList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p style = 
  "background: #EE4B2B !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
"><%= message %></p>
    <% end %>
    <p>Cart: <%= cart.total_count %></p>
    <%= yield %>
  </body>
</html>
